$text-primary: 		#062F3F;
$text-secondary:	darken($text-primary, 45%);
$body-bg:		#34667A;
$content-bg:		#9BB7C2;

$link-color:		#8A716A;

$font-stack:		'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

