$text-primary: 		#51FF51;
$text-secondary:	darken($text-primary, 45%);
$body-bg:		#000000;
$content-bg:		#000000;

$link-color:		#BC5F04;

//$font-stack:		'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$font-stack:		Consolas, monaco, monospace;
